html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
   
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.green{
  color:#26DA6F;
}
h3 .phone{
  font-size: calc(3rem + .9vw);
}
h3 a{
  color:rgba(255,255,255,.55);
  text-decoration: none;
}
.price-list .info{
  color: white;
  font-style: italic;
  font-size: .8em;
}
.price-list .name, .price{
  color:#26DA6F;
  font-size: 1.3em;
}
.triangle {
  margin-bottom: 10px;
  height:20px;
  background-image:
    linear-gradient(to bottom right, transparent 50%,#26DA6F 51%),
    linear-gradient(to top right, transparent 50%,#26DA6F 51%),
    linear-gradient(to bottom left, transparent 50%,#26DA6F 51%),
    linear-gradient(to top left, transparent 50%,#26DA6F 51%);
  background-position:0 0,0 100%,100% 0,100% 100%;
  background-size:50.3% 50%;
  background-repeat:no-repeat;
}
