@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 ><img width="90%" src="../img/title.png"></h1>
    <h2>The Best Automotive Diagnostics Team in North Ga!</h2>
</div>
