@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 ><img width="90%" src="../img/title.png"></h1>
    <h2 class="fst-italic ">The Best Automotive Diagnostics Team in North Ga!</h2>
    <h3><a class="phone" href="tel:678-557-6405">678-557-6405</a></h3>
</div>

<div class="triangle"></div>

<div class="price-list container ">
    <div class="row">
    @foreach (var price in IndexModel.Prices)
    {
    <div class="col-md-6">
        <div class="row">
            <div class="name col-md-10">
                @price.Name
            </div>
            <div class="price col-md-2">
                @price.Price
            </div>
        </div>
        <div class="info row">
            <div class="col-md-12">@price.Description</div>
        </div>
    </div>
    }
    </div>
</div>


