@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 ><img width="90%" src="../img/title.png"></h1>
    <h2 class="fst-italic ">The Best Automotive Diagnostics Team in North Ga!</h2>
    <h3><a class="phone" href="tel:678-557-6405">678-557-6405</a></h3>
</div>



<div class="price-list container ">
    <div class="row">
    @foreach (var price in IndexModel.Prices)
    {
    <div class="col-md-6">
        <div class="row">
            <div class="name col-md-10">
                @price.Name
            </div>
            <div class="price col-md-2">
                @price.Price
            </div>
        </div>
        <div class="info row">
            <div class="col-md-12">@price.Description</div>
        </div>
    </div>
    }
    </div>
</div>
@* 
    <ul>
<li>Program GM<p class="price">$170</p><p class="info">Does not include Used Global A GM PCM’s or any other used module that requires EEprom programming.</p></li>
<li>Used Global A GM PCM<p class="price">$285</p><p class="info">See Global A List for a list of which GM vehicles are Global A architecture. Many modules on these vehicles can NOT be programmed if they are used, but we can EEprom program some of these modules.</p></li>
<li>Program Ford<p class="price">$170</p><p class="info">Does not include BCM's</p></li>
<li>Program Ford BCM<p class="price">$195</p><p class="info">&nbsp;</p></li>
<li>Program Chrysler<p class="price">$185</p><p class="info">&nbsp;</p></li>
<li>DRBIII Program Chrysler<p class="price">$225</p><p class="info">&nbsp;</p></li>
<li>Program European<p class="price">$260-495</p><p class="info">The price for European vehicles greatly depends on exactly what is needed. In some cases, specifically BMW, we cannot give an exact price until we connect to the vehicle to see exactly how many modules need to be programmed.</p></li>
<li>Used Mercedes Trans<p class="price">$425</p><p class="info">We can EEprom program used Mercedes 7.229 transmissions and conductor plates/valve bodies.</p></li>
<li>Standard Diagnostics<p class="price">$195</p><p class="info">Includes up to 1.5 hours of diagnostic time. This covers most domestic and Asian vehicle diagnostics. Additional time is billed at $100/hr.</p></li>
<li>European Diagnostics<p class="price">$260</p><p class="info">Includes up to 1.5 hours of diagnostic time. This covers most diagnostics. Additional time is billed at $130 per hour.</p></li>
<li>Battery Drains<p class="price">$225+</p><p class="info">Please see this page on how to prepare a vehicle for battery drain testing. This type of diagnosis can be time consuming.  Expect that it is likely this diagnostic will go over the typical 1.5 hour time slot and any additional time will be billed at $100 per hour.</p></li>
<li>Diagnose Hybrid<p class="price">$225</p><p class="info">Flood vehicles are the most time consuming type of diagnosis and often require multiple visits. We generally wont take these jobs in without the understanding that we bill by the hour and can never guarantee that any recommended repairs are the only repairs that will be necessary. This is the one type of diag that often requires repairs to be performed in steps before further diagnostics can take place. It is not uncommon for this to be anywhere from $250 to over $1000 to fully diagnose the vehicle.</p></li>
<li>Flood Vehicles<p class="price">Call</p><p class="info">&nbsp;</p></li>
<li>Program Nissan<p class="price">$180</p><p class="info">For Nissan transmissions, we will provide proof of programming and proper calibration using the factory Nissan Consult III scan tool so that you have proper documentation for a warranty if you bought the transmission from a dealership.</p></li>
<li>Program Mazda<p class="price">$190</p><p class="info">&nbsp;</p></li>
<li>Program Honda<p class="price">$175</p><p class="info">&nbsp;</p></li>
<li>Program Toyota<p class="price">$190</p><p class="info">&nbsp;</p></li>
<li>Program Hyundai/Kia<p class="price">$190</p><p class="info">&nbsp;</p></li>
<li>Program Keys Only<p class="price">$160</p><p class="info">This is for keys only. It does NOT include programming a new immobilizer or security module or doing any programming with any other module. Often, we are required to program keys as part of another job such as PCM or BCM replacement. This lower price option is ONLY for people that bought a spare key and need it programmed and not for module replacement.</p></li>
<li>Trip Charge<p class="price">$90</p><p class="info">Our least favorite , but necessary thing to charge for. To avoid this charge, try to make certain the module you are installing is correct for the vehicle. Make certain the module is correct and also make sure it will communicate. Our most common trip charge is for programming a module that has no communication when we arrive. If installing a used module, be sure to ask us if a used module can even be done on that specific application. Many used modules cannot be </p></li>
</ul> *@
@* <li><p class="price">$</p><p>&nbsp;</p></li> *@

