@page
@model UsedModulesModel
@{
    ViewData["Title"] = "Used Modules";
}
<h1>@ViewData["Title"]</h1>
<p>More and more vehicles are becoming increasingly impossible to do used modules on. European vehicles have been notoriously difficult to installed used modules in because they typically only allow the VIN# to be written to a module once.</p>
<p>Starting as early as 2010, with the Camaro and Equinox, GM introduced the Global A architecture with their network system. GM’s official position is NO USED MODULES on global A vehicles. Although we can EEprom flash GM PCM’s, and can typically get Global A radios to work as long as they are the correct radio, under NO CIRCUMSTANCES should you ever plug in a used BCM on a global A GM vehicle. DO NOT PLUG IN A USED BCM on a global A GM vehicle. You can cause a lot of expensive damage to the vehicle. You can literally destroy multiple modules on the car simply by plugging it in and turning the key on. For a list of Global A vehicles, see this page.</p>
<p>On many vehicles, especially older ones, we do have work arounds to make a used module work. This can sometimes take extra steps and they may be additional charges. Feel free to call and ask us about a specific application. Although we don’t know every possible module and if a used one can be installed, we do know the answer for most situations and can help guide you on whether you should purchase a new or if you can get by with a used module.</p>
<p></p>